<div>
  <label>State:</label>
  <select [(ngModel)]="selectedState" (change)="onStateChange()">
    <option value="">Select state</option>
    @for (state of stateData; track state.stateId) {
      <option [value]="state.stateId">{{ state.stateName }}</option>
    }
  </select>
</div>
<div>
  <label>City:</label>
  <select>
    <option value="">Select City</option>
    @for (city of filteredCity; track city.cityId) {
      <option [value]="city.cityId">{{ city.cityName }}</option>
    }
  </select>
</div>
<hr />
<div>
  <label>Department:</label>
  <select (change)="getDesignationByDeptId($event)">
    <option value="">Select Department</option>
    @for (dept of departmentList(); track dept.departmentId) {
      <option [value]="dept.departmentId">{{ dept.departmentName }}</option>
    }
  </select>
</div>
<div>
  <label>Designation:</label>
  <select>
    <option value="">Select Designation</option>
    @for (desg of designationList(); track desg.designationId) {
      <option [value]="desg.designationId">{{ desg.designationName }}</option>
    }
  </select>
</div>
